

body{
    background-color: black;
    color: rgb(238, 182, 13);
    text-align: center;
  
  }
  /* this is main style sheet */
  
    .card {
      margin: 0 auto;
      width: '24rem';
      background-color: rgb(40, 40, 46);
      text-align: center;
  
  }
/*  below not working  */
  .nav-link:hover{
    color: rgb(238, 182, 13);
  }
